.ui.raised.segments
  .ui.segment
    %h2 Sign up
  .ui.secondary.blue.attached.segment
    .ui.two.column.middle.aligned.very.relaxed.stackable.grid
      .column
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .ui.error.message
            = f.error_notification
          = f.input :email, autofocus: true, required: true
          = f.input :password, required: true
          = f.input :password_confirmation, required: true
          .actions
            = f.button :button, "Sign up", :type => :submit
      .ui.vertical.divider
        Or
      .center.aligned.column
        = render "devise/shared/links"

:javascript
  $('.simple_form.ui.form')
  .form({
    fields: {
      user_email: {
        rules: [
          {
            type: 'email',
            prompt: 'please enter a valid email'
          }
        ]
      },
      user_password: {
        rules: [
          {
            type: 'empty',
            prompt: 'Please create a secure password'
          },
          {
            type: 'minLength[6]',
            prompt: 'Your password needs to be at least 6 characters long'
          }
        ]
      },
      user_password_confirmation: {
        rules: [
          {
            type: 'match[user_password]',
            prompt: 'Password confirmation needs to match password'
          }
        ]
      }
    },
    onFailure: function() {
    $('.loading.disabled').removeClass('disabled loading');
    return false;
    }
  });
