= simple_form_for @link do |f|
  .ui.error.message
    = f.error_notification

  .field
    = f.input :name
    = f.input :description
    = f.input :url
    = f.input :category
    = f.input :does_expire
    = f.input :experies_on
  .actions
    = f.button :button, :type => :submit
:javascript
  $('.simple_form.ui.form')
  .form({
    fields: {
      link_name: {
        rules: [
          {
            type: 'empty',
            prompt: 'Name can not be empty'
          }
        ]
      },
      link_url: {
        rules: [
          {
            type: 'empty',
            prompt: 'URL can not be empty'
          }
        ]
      }
    },
    onFailure: function() {
    $('.loading.disabled').removeClass('disabled loading');
    return false;
    }
  });

  $('#product_product_code').bind('paste input', function ( event) {
    if ($(this).val().match(/[^0-9]/)) {
      $(this).removeAttr('maxLength');
      $(this).val($(this).val().replace(/[^0-9]/g,""));
    }
    if (this.value.length >= 12) {
      $(this).val($(this).val().substr(0, 12))
    }
  });
