= simple_form_for @link do |f|
  .ui.error.message
    = f.error_notification

  .field
    = f.input :name
    = f.input :description
    = f.input :url
    = f.input :tags, :collection => @tags, :selected => @selected, :label_method => :name, input_html: { :class => "ui dropdown" }, prompt: "Select a tag"
    = f.input :does_expire
    = f.input :experies_on
  .actions
    - if @link.id
      = link_to "Delete link", @link, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui basic red button"
    = f.button :button, :type => :submit
:javascript
  $('.simple_form.ui.form')
  .form({
    fields: {
      link_name: {
        rules: [
          {
            type: 'empty',
            prompt: 'Name can not be empty'
          }
        ]
      },
      link_url: {
        rules: [
          {
            type: 'empty',
            prompt: 'URL can not be empty'
          }
        ]
      }
    },
    onFailure: function() {
    $('.loading.disabled').removeClass('disabled loading');
    return false;
    }
  });

  $('.ui.dropdown')
    .dropdown()
  ;
