%h1 Listing links
%table.ui.selectable.table
  %thead
    %tr
      %th Name
      %th Description
      %th Tags
      %th Expires
      %th Option

  %tbody
    - @links.each do |link|
      %tr
        %td= link.name
        %td= link.description
        %td
          .ui.grey.label= display_tag_name(link.tags)
        %td= display_expire_flag(link)
        %td
          .ui.mini.buttons
            = link_to 'Show', link, :class => "ui basic primary button load"
            = display_link_button(link.url)


%br

=paginate(@links)

.ui.divider
%a.ui.primary.button.load{:href => new_link_path}
  %i.plus.icon
  New link

:javascript
  $( ".momentjs" ).each(function() {
    $( this ).html(moment($( this ).text(), "YYYYMMDD").fromNow());
  });
