%h1 Listing links
%table.ui.selectable.table
  %thead
    %tr
      %th Name
      %th Description
      %th Url
      %th Category
      %th Does expire
      %th Experies on
      %th Option

  %tbody
    - @links.each do |link|
      %tr
        %td= link.name
        %td= link.description
        %td
          %a{:href => link.url} link
        %td= link.category
        %td= link.does_expire
        %td= link.experies_on
        %td= link_to 'Show', link, :class => "ui mini primary button load"


%br

=paginate(@links)

.ui.divider
%a.ui.primary.button.load{:href => new_link_path}
  %i.plus.icon
  New link
