%p#notice= notice

%p
  %b Name:
  = @link.name
%p
  %b Description:
  = @link.description
%p
  %b Url:
  = @link.url
%p
  %b Category:
  = @link.category
%p
  %b Does expire:
  = @link.does_expire
%p
  %b Experies on:
  = @link.experies_on

= link_to 'Edit', edit_link_path(@link)
\|
= link_to 'Back', links_path
