= simple_form_for @tag do |f|
  .ui.error.message
    = f.error_notification

  .field
    = f.input :name
    = f.input :description
  .actions
    = f.button :button, :type => :submit
:javascript
  $('.simple_form.ui.form')
  .form({
    fields: {
      tag_name: {
        rules: [
          {
            type: 'empty',
            prompt: 'Name can not be empty'
          }
        ]
      },
    onFailure: function() {
    $('.loading.disabled').removeClass('disabled loading');
    return false;
    }
  });
