.ui.raised.segments
  .ui.segment
    %h2 Log in
  .ui.secondary.blue.attached.segment
    .ui.two.column.middle.aligned.very.relaxed.stackable.grid
      .column
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .ui.error.message
          = f.input :email, required: true, placeholder: "Email", autofocus: true
          = f.input :password, required: true, placeholder: "Password"
          - if devise_mapping.rememberable?
            .field
              .ui.checkbox
                = f.input :remember_me, as: :boolean
          .actions
            = f.button :button, "Log in", :type => :submit
      .ui.vertical.divider
        Or
      .center.aligned.column
        = render "devise/shared/links"

:javascript
  $('.simple_form.ui.form')
  .form({
    fields: {
      user_email: {
        rules: [
          {
            type: 'email',
            prompt: 'Please enter the email of the account'
          }
        ]
      },
      user_password: {
        rules: [
          {
            type: 'empty',
            prompt: 'Please enter the password to the account'
          }
        ]
      }
    },
    onFailure: function() {
    $('.loading.disabled').removeClass('disabled loading');
    return false;
    }
  });
